:root {
  --primary-color: #2884f9;
  --bg-color: #fff;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
}

.dark-mode .button-filled,
.button-filled {
  border-radius: 2.5rem;
  background: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.dark-mode .button-outlined,
.button-outlined {
  border-radius: 2.5rem;
  border-color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.dark-mode .button-common,
.button-common {
  background: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
}

.container-row {
  padding: 0 40px;
}

.page-title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.01563rem;
}

.page-subtitle {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;
}

.page-para {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
}

.footer {
  background-color: #2884f9;
  color: #fff;
  padding: 40px 10px;
  text-align: left;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .container-row {
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .container-row {
    padding: 0 10px;
  }

  .footer {
    padding: 20px 10px;
  }

  .page-title {
    font-size: 1.75rem;
  }
  .page-para {
    font-size: 0.85rem;
  }

  .button-filled,
  .button-outlined,
  .button-common {
    font-size: 0.75rem;
  }
}
