.home-tagline {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 133.333%;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  color: #215595;
}

.dark-mode .home-tagline {
  color: #007bff;
}

.home-title {
  font-size: 4rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.03125rem;
}

.home-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%; /* 150% */
  letter-spacing: 0.03125rem;
}

.home-row {
  padding: 0px 80px;
  margin-top: 40px;
  min-height: 70vh;
}

@media screen and (max-width: 900px) {
  .home-row {
    padding: 0 20px;
  }
  .home-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .home-row {
    padding: 0 10px;
  }
  .home-title {
    font-size: 1.5rem;
  }
  .home-body {
    font-size: 0.85rem;
  }
}
