:root {
  --primary-color: #2884f9;
  --bg-color: #fff;
  --secondary-bg-color: #1a1a1a;
  --bg-color-dark: rgb(9, 25, 34);
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
}

body,
.content-wrapper {
  background: var(--bg-color);
}

.dark-mode .content-wrapper,
body.dark-mode {
  background: var(--bg-color-dark);
}

.dark-mode {
  background-color: var(--bg-color-dark) !important;
}

.navbar {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-bottom: none;
  padding: 5px 15px !important;
}

.navbar-gray-dark {
  background-color: var(--bg-color-dark);
}

.nav-link,
.nav-link.active {
  font-weight: 500;
  color: var(--primary-color) !important;
}
.nav-link.active {
  color: #000 !important;
}
.dark-mode .nav-link.active {
  color: var(--bg-color) !important;
}
.nav-link p {
  margin-bottom: 0;
}
/* .strategies_link {
  display: none;
} */
#tab-strategies_page {
  display: none;
}

.content-wrapper .sidebar-menu {
  padding: 0 2rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  display: none;
}

.sidebar-open .content-wrapper .sidebar-menu {
  display: block;
}

.sidebar-open #sidebar-overlay {
  display: none;
}

.content-wrapper .sidebar-menu .nav-item {
  font-size: 0.85rem;
}

.custom-control {
  margin-top: 0 !important;
}
.custom-switch:first-child {
  display: none;
}

.content-wrapper > .content {
  padding: 0 !important;
}

.accordion .card.active .card-header {
  border: 1px solid var(--primary-color);
  background-color: rgba(40, 132, 249, 0.3);
}
.accordion .card .card-header {
  border: 1px solid var(--primary-color);
}

.dark-mode .card-white:not(.card-outline) > .card-header {
  background-color: var(--primary-color);
}

.selectize-dropdown .selected {
  background-color: var(--primary-color) !important;
}

.control-label {
  display: none;
}

/* .survey-box-wrapper .card {
  box-shadow: none;
  border-radius: 0;
  border-right: 1px solid #A8AAAD;
} */

.survey-box-wrapper .card-header {
  display: none;
}

/* #rep_summary_table {
  height: 300px;
} */

.gt_table {
  color: #000 !important;
  border-color: #a8aaad !important;
  font-family: "Inter", sans-serif !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.gt_stub {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #000 !important;
  border-right-color: #a8aaad !important;
}

.gt_group_heading {
  border-right-color: #a8aaad !important;
}

.gt_col_heading {
  text-align: left !important;
  color: #000 !important;
  font-size: 90%;
  font-weight: 600 !important;
}

#new_table .gt_table_body tr td:first-child {
  color: #000 !important;
  font-weight: 500 !important;
  border-right: 1.5px solid #a8aaad;
  width: 30%;
}

#new_table .gt_col_headings th:first-child {
  color: #fff !important;
}

.js-plotly-plot .plotly,
.js-plotly-plot .plotly div,
.legendtext,
text,
.plotly * {
  font-family: "Inter", sans-serif !important;
}

.ytitle,
.xtitle {
  font-weight: 600 !important;
}

.shiny-text-output {
  display: inline !important;
}

.callout .shiny-text-output {
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

@media screen and (min-width: 900px) {
  .nav-link[data-widget="pushmenu"] {
    display: none !important;
  }
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-link[data-widget="pushmenu"] {
    visibility: visible !important;
  }
  .main-header .sidebar-menu {
    display: none;
  }

  ul.navbar-nav {
    margin-left: auto;
  }

  .ml-auto.navbar-right {
    margin-left: 0 !important;
  }

  .nav-mobile {
    display: block;
  }
}
